doctype html
html
  head
    title Knockout | Football tournament
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='css/style.css') 
    block styles 
  body
    include header
 
    block content

    block scripts
    script(src='js/app.js')