<configuration>
  <system.webServer>
    <rewrite>
      <rules>        
        <rule name="StaticContent">
          <action type="Rewrite" url="dist/debug{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="dist/debug/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
