.page-header
        header
            .container
                .row
                    a(href='#')
                        .span6
                            .logo
                                h1 Knockout
                                .hmeta Football tournament                      