.page-header
        header
            .container
                .row
                    a(href='#')
                        .span6
                            .logo
                                h1 Knockout
                                .hmeta Football tournament   
                        .form-horizontal.span6
                            .control-group
                                label.control-label(for='admin') Admin
                                .controls
                                    input(type='checkbox', id='admin', data-bind='checked: admin')                   