h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin: 2px 0px 5px 0px;
	padding: 2px 0px;
	color: #333;
}

div.hmeta {
	color: #333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.input-verysmall {
	width: 30px;
}

td.fixtureTextItem {
	padding: 13px;
}