extends layout/layout

block content   
    .container        
        ul.nav.nav-tabs
            // ko foreach: categories 
            li
                a(data-toggle='tab', data-bind='html: name, attr: { href: \'#\'+ name().replace(\' \',\'\') }')
            // /ko 
            li
                a(href='#',data-bind='click: addCategory') 
                    i.icon-plus
        
        .tabbable
            .tab-content(data-bind='foreach: { data: categories, as: \'category\' }')
                .tab-pane(data-bind='attr: { id: name().replace(\' \',\'\') }')
                    div(data-bind='template: { name: \'categoryConfigurationTemplate\', data: category }')
                    div(data-bind='template: { name: \'fixtureTemplate\', data: matches }')
        
    hr

block scripts
    include templates/categoryConfigurationTemplate   
    include templates/fixtureTemplate   