extends layout/layout

block content   
    .container        
        ul.nav.nav-tabs.row
            // ko foreach: categories 
            li
                a(data-toggle='tab', data-bind='attr: { href: \'#\'+ id() }')
                    span(data-bind='text: name')
                    // ko if: $root.admin
                    span(data-bind='if: $root.categories().length > 1 && $root.admin, click: $root.removeCategory') 
                        i.icon-trash.link
                    // /ko
            // /ko 
            // ko if: $root.admin
            li
                a(href='#',data-bind='click: addCategory') 
                    i.icon-plus
            // /ko

        .tabbable.row
            .tab-content(data-bind='foreach: { data: categories, as: \'category\' }')
                .tab-pane(data-bind='attr: { id: id }')
                    // ko if: $root.admin
                    .row-fluid(data-bind='template: { name: \'configurationTemplate\', data: category }')
                    // /ko
                    .row-fluid(data-bind='template: { name: \'fixtureTemplate\', data: matches }')
                    .row-fluid(data-bind='template: { name: \'leaderboardTemplate\', data: leaderboard }')
        
    hr

block scripts
    include templates/configurationTemplate   
    include templates/fixtureTemplate
    include templates/leaderboardTemplate      