| <script type="text/html" id="categoryConfigurationTemplate"> 

.control-group
    label.control-label Naam
    .controls
        input.input-xlarge(data-bind='value: name, valueUpdate: \'afterkeydown\'')

.control-group
    label.control-label Home and away
    .controls
        input(type='checkbox', data-bind='checked: homeAndAway')

div(data-bind='foreach: teams')
    .control-group
        label.control-label Team
        .controls
            input.input-xlarge(data-bind='value: name, valueUpdate: \'afterkeydown\'')
            a(href='#', data-bind='click: $parent.removeTeam') Delete

button(data-bind='click: addTeam') Add team
button(data-bind='click: generateFixture') Generate fixture

| </script>