| <script type="text/html" id="configurationTemplate"> 
.form-horizontal.well
    .control-group
        label.control-label Naam
        .controls
            input.input-xlarge(type='text', data-bind='value: name, valueUpdate: \'afterkeydown\'')

    .control-group
        label.control-label Date
        .controls
            input.input-xlarge(type='date', data-bind='value: date')

    .control-group
        label.control-label(data-bind='attr: { for: id() + \'HomeAndAway\' }') Home and away
        .controls
            input(type='checkbox', data-bind='checked: homeAndAway, attr: { id: id() + \'HomeAndAway\' }')

    .control-group
        label.control-label Teams        
        .controls.teams(data-bind='foreach: teams')
            .team
                input.input-xlarge(type='text', data-bind='value: name, valueUpdate: \'afterkeydown\'')
                a(href='#', data-bind='if: category.teams().length > 1, click: category.removeTeam') 
                    i.icon-trash
    .form-actions
        button.btn(data-bind='click: category.addTeam') Add team  
            i.icon-plus 
        button.btn(data-bind='click: generateFixture') Generate fixture 
            i.icon-ok

| </script>