| <script type="text/html" id="fixtureTemplate"> 

h2 Fixture
    button.btn(data-bind='click: category.update')
        i.icon-refresh

table.table.table-striped.table-hover
    thead
        tr
            th Datum
            th Uur
            th Thuis
            th
            th
            th
            th Uit
    tbody(data-bind='foreach: $data')
        tr
            td
                input.input-medium(type='date', data-bind='value: date')
            td
                input.input-small(type='time', data-bind='value: time')
            td.fixtureTextItem(data-bind='text: homeTeam().name()')
            td
                input.input-verysmall(type='number', data-bind='value: homeScore()')
            td.fixtureTextItem -
            td
                input.input-verysmall(type='number', data-bind='value: awayScore()')
            td.fixtureTextItem(data-bind='text: awayTeam().name()')

| </script>