| <script type="text/html" id="fixtureTemplate"> 

h2 Fixture
    // ko if: $root.admin
    button.btn(data-bind='click: category.sortFixture')
        i.icon-resize-vertical
    // /ko

table.table.table-striped.table-hover
    thead
        tr
            th Datum
            th Uur
            th Thuis
            th
            th
            th
            th Uit
    tbody(data-bind='foreach: $data')
        tr
            td
                input.input-medium(type='date', data-bind='value: date')
            td
                input.input-small(type='time', data-bind='value: time')
            td.fixtureTextItem(data-bind='text: homeTeam().name()')
            td
                input.input-verysmall(type='number',min='0', data-bind='value: homeScore, valueUpdate: \'afterkeydown\'')
            td.fixtureTextItem -
            td
                input.input-verysmall(type='number',min='0', data-bind='value: awayScore, valueUpdate: \'afterkeydown\'')
            td.fixtureTextItem(data-bind='text: awayTeam().name()')

| </script>