| <script type="text/html" id="fixtureTemplate"> 

h2 Fixture  
    // ko if: $root.admin
    button.btn(data-bind='click: poule.addMatch') Add match
        i.icon-plus
    button.btn(data-bind='click: poule.sortFixture') Sort
        i.icon-resize-vertical
    // /ko

table.table.table-striped.table-hover
    thead
        tr
            th Datum
            th Uur
            th.text-center Thuis
            th
            th
            th
            th.text-center Uit
            // ko if: $root.admin
            th
            // /ko
    tbody(data-bind='foreach: $data')
        tr
            // ko if: $root.admin
            td
                input.input-medium(type='date', data-bind='value: date')
            td
                input.input-small(type='time', data-bind='value: time')
            td
                select(data-bind='options: poule.teamOptions, optionsText: \'name\', value: homeTeam')
            td.text-center
                input.input-verysmall(type='number',min='0', data-bind='value: homeScore, valueUpdate: \'afterkeydown\'')
            td.fixtureTextItem.text-center -
            td.text-center
                input.input-verysmall(type='number',min='0', data-bind='value: awayScore, valueUpdate: \'afterkeydown\'')
            td
                select(data-bind='options: poule.teamOptions, optionsText: \'name\', value: awayTeam')
            td
                a(href='#', data-bind='click: poule.removeMatch') 
                    i.icon-trash
            // /ko
            // ko if: !$root.admin()
            td
                input.input-medium(type='date', disabled, data-bind='value: date')
            td
                input.input-small(type='time', disabled, data-bind='value: time')
            td.fixtureTextItem.text-center(data-bind='text: homeTeam().name()')
            td.text-center
                input.input-verysmall(type='number',min='0', data-bind='value: homeScore, valueUpdate: \'afterkeydown\'')
            td.fixtureTextItem.text-center -
            td.text-center
                input.input-verysmall(type='number',min='0', data-bind='value: awayScore, valueUpdate: \'afterkeydown\'')
            td.fixtureTextItem.text-center(data-bind='text: awayTeam().name()')
            // /ko    
                
| </script>