| <script type="text/html" id="leaderboardTemplate"> 

h2 Leaderboard

table.table.table-striped.table-hover.table-bordered
    thead
        tr
            th #
            th Team
            th M
            th M+
            th M-
            th M=
            th D+
            th D-
            th D+/-
            th Ptn
    tbody(data-bind='foreach: $data')
        tr
            td(data-bind='text: $index() + 1')
            td(data-bind='text: name')
            td(data-bind='text: played')
            td(data-bind='text: won')
            td(data-bind='text: lost')
            td(data-bind='text: draws')
            td(data-bind='text: goalsFor')
            td(data-bind='text: goalsAgainst')
            td(data-bind='text: goalsDifference')
            td(data-bind='text: points')

| </script>